@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa !important;
}

.home {
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}


/* TODO: WIJZIGEN NAAR AFBEELDING*/

.logo {
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}


/* END TODO */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(52, 146, 247, 1);
    background: -moz-linear-gradient(-45deg, rgba(52, 146, 247, 1) 0%, rgba(217, 230, 39, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(52, 146, 247, 1)), color-stop(100%, rgba(217, 230, 39, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(52, 146, 247, 1) 0%, rgba(217, 230, 39, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(52, 146, 247, 1) 0%, rgba(217, 230, 39, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(52, 146, 247, 1) 0%, rgba(217, 230, 39, 1) 100%);
    background: linear-gradient(135deg, rgba(52, 146, 247, 1) 0%, rgba(217, 230, 39, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3492f7', endColorstr='#d9e627', GradientType=1);
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

.login {
    width: 35vw;
    height: 100vh;
    padding: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 99999;
    top: 0;
    right: 0;
    /*background-color: white;*/
}

.login label {
    font-size: 1.0rem;
    color: white;
    margin-bottom: 10px;
    opacity: 0.6;
}

.login .grid .col {
    text-align: center;
    width: 50%;
}

.login .grid .col a {
    color: white;
    width: 100%;
}

.login form {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.textfield {
    display: block;
    box-shadow: none;
    background: none;
    border: none;
    border-bottom: 5px solid white;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-bottom: 30px;
    font-size: 1.1rem;
    color: white;
}

::-webkit-input-placeholder {
    color: white;
    opacity: 0.8;
}

.button {
    padding: 15px;
    text-align: center;
    background-color: transparent;
    box-shadow: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    border-radius: 50px;
    text-transform: uppercase;
    min-width: 150px;
    box-sizing: border-box;
}

.button:hover {
    background-color: white;
    color: gray;
}

.grid {
    display: flex;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #37474F;
    z-index: 999999;
    -webkit-box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
}

.logo {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e6275a;
}

.upload-container {
    background-color: #E91E63;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
}

.upload-container h1 {
    color: white;
}

.image-background {
    height: 110%;
    width: 110%;
    -webkit-filter: blur(20px);
    position: absolute;
    top: -5%;
    left: -5%;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#form-upload {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.image-description-field {
    width: 100%;
    resize: none;
    height: 100px;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin-top: 0;
    background-color: rgba(36, 36, 36, 0.2);
    color: #ffffff;
    border-bottom: 3px solid rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

.image-description-field:focus {
    background-color: rgba(36, 36, 36, 0.5);
    border-bottom: 5px solid white;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.button {
    width: 100%;
}

.container-fluid {
    padding: 0 !important;
}

input {
    display: block;
}

.upload-form {
    position: relative;
    z-index: 9999999;
    text-align: center;
}

.add-image-info {
    position: relative;
    height: 40vh;
    width: 100%;
    box-sizing: border-box;
    bottom: 30px;
    left: 0;
    z-index: 99999;
    align-items: center;
    display: flex;
}

.add-image-info .button-group {
    width: 100%;
    display: flex;
}

.add-image-info .button-group .button {
    margin: 1%;
}

.add-image-info .content {
    width: 50%;
}

.overlay
{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(52,146,247,1);
	background: -moz-linear-gradient(-45deg, rgba(52,146,247,1) 0%, rgba(217,230,39,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(52,146,247,1)), color-stop(100%, rgba(217,230,39,1)));
	background: -webkit-linear-gradient(-45deg, rgba(52,146,247,1) 0%, rgba(217,230,39,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(52,146,247,1) 0%, rgba(217,230,39,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(52,146,247,1) 0%, rgba(217,230,39,1) 100%);
	background: linear-gradient(135deg, rgba(52,146,247,1) 0%, rgba(217,230,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3492f7', endColorstr='#d9e627', GradientType=1 );
	opacity: 0.5;
	height: 100%;
	width: 100%;
}

/* FILTERS */
.wrapper-image-filter
{
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#change-filter
{
    width: 70%;
    height: 50%;
    display: block;
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
}

.image 
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrap-filters
{
    display: flex;
    width: 100%;
    height: 8%;
    margin-top: 20px;
    background-color: aqua;
    z-index: 999999999;
}

.filter
{
    width: 10%;
    height: 100%;
    z-index: 999999999999;
}

.image-filter 
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* END FILTERS */

.login
{
	width: 35vw;
	height: 100vh;
	padding: 50px;
	position: absolute;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	z-index: 99999;
	top: 0;
	right: 0;
	/*background-color: white;*/
}

.login label
{
	font-size: 1.0rem;
	color: white;
	margin-bottom: 10px;
	opacity: 0.6;
}


.login .grid .col
{
	text-align: center;
	width: 50%;
}

.login .grid .col a
{
	color: white;
	width: 100%;
}

.login form
{
	width: 80%;
	display: block;
	margin: 0 auto;
}

.textfield
{
	display: block;
	box-shadow: none;
	background: none ;
	border: none;
	border-bottom: 2px solid white;
	width: 100%;
	box-sizing: border-box;
	padding: 15px 20px;
	margin-bottom: 30px;
	font-size: 1.1rem;
	color: white;
    outline: none;
}

::-webkit-input-placeholder 
{
   color: white;
   opacity: 0.8;
}

.button
{
	padding: 15px;
	text-align: center;
	background-color: transparent;
	box-shadow: none;
	font-family: "Open Sans", sans-serif;
	font-size: 1.4rem;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 40px;
	text-transform: uppercase;
	min-width: 200px;
}

.button:hover
{
	background-color: #fff;
	color: #323232;
}

.button:focus
{
	outline: none;
}

.content {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.image-container .wrapper {
    text-align: center;
}

input[type=file] {
    display: inline-block !important;
    margin-top: 20px;
}

.wrapper {
    width: 80% !important;
    margin: 0 auto !important;
    display: block;
}

.feedback {
    position: fixed;
    z-index: 999;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #DFF2BF;
    border-bottom: 2px solid #a4bf76;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-animation: showFeedback 0.3s linear forwards, hideFeedback 0.3s 2s linear forwards;
}

@-webkit-keyframes showFeedback {
    0% {
        -webkit-transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes hideFeedback {
    100% {
        -webkit-transform: translateY(-100px);
        opacity: 0;
    }
}

.profile-header {
    height: 60vh;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    padding-top: 70px;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    -webkit-box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
}

.profile-header .wrapper {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
    flex-wrap: wrap;
}

.profile-header h1 {
    color: white;
    font-size: 2.8rem;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.profile-header h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 5px;
    font-family: "Open Sans", sans-serif;
}

.profile-header .overlay {
    opacity: 1;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.9)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.profile-picture {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin-right: 30px;
}

.profile-information {
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 999;
    color: white;
    display: flex;
}

.profile-information-item {
    width: 120px;
    font-size: 1.0rem;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.profile-information-item:hover {
    padding-bottom: 10px;
    border-bottom: 5px solid #E91E63;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.profile-information-item .amount {
    font-size: 2.2rem;
    display: block;
    font-weight: 400;
    color: white;
}

.profile-grid {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
}

.profile-grid-image {
    height: 300px;
    width: 100%;
    background-image: url("../public/uploads/2016-04-04T17:30:00+02:00.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-grid-image-container {
    padding: 20px;
    box-sizing: border-box;
}

.error
{
    font-family: "Open Sans", sans-serif;
	font-size: 1.2rem;
	color: darkred;
    margin-bottom: 30px;
}

    
.wrap-photo
{
    background-color: #fff;
    width: 550px;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 3px;
    border: 1px solid #edeeee;
    position: relative;
}

.header-photo
{
    width: 100%;
    height: 60px;
    display: flex;
    padding-top: 15px;
}

.profile-pic
{
    background-image: url("../public/uploads/test.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 15px;    
}

.profile-name
{
    font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
    font-weight: 600;
    color: #155889;
    line-height: 30px;
    margin-left: 15px;
}

.minutes-posted
{
    font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
    color: #a5a7aa;
    line-height: 30px;
    right: 15px;
    position: absolute;
}

.likes
{
    font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
    font-weight: 600;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

.wrap-description
{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
}

.description-username
{
    font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
    font-weight: 600;
    color: #155889;
    margin-right: 10px;
}

.description-text
{
    font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
}

.line
{
    width: 90%;
    height: 1px;
    background-color: #edeeee;
    margin: 0 auto;
    margin-bottom: 15px;
}

.wrap-liken
{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.liken
{
    background-image: url("../images/heart.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    cursor: pointer;
}

.liked
{
    background-image: url("../images/heart-fill.svg");
}

.comment
{
    font-family: "Open Sans", sans-serif;
	font-size: 1.6rem;
    border: none;
    outline: none;
    opacity: 1;
}

.comment::-webkit-input-placeholder 
{
    color: #000;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.comment:focus::-webkit-input-placeholder 
{
    opacity: 0.4;
}

.flag
{
    background-image: url("../images/flag-map-marker.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    right: 0;
    margin-right: 5%;
    cursor: pointer;
    position: absolute;
    opacity: 0.6;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.flag:hover
{
    opacity: 1;
}

.container-report
{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
}

.wrap-report
{
    position: absolute;
    width: 40%;
    height: 150px;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 81px 3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 81px 3px rgba(0,0,0,1);
    box-shadow: 0px 0px 81px 3px rgba(0,0,0,1);
}

.report
{
    font-family: "Open Sans", sans-serif;
	font-size: 2.4rem;
    color: #323232;
    text-align: center;
    line-height: 75px;
    text-transform: uppercase;
    width: 100%;
    height: 50%;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #323232;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.report:hover
{
    background-color: #edeeee;
}

.report-cancel
{
    font-family: "Open Sans", sans-serif;
	font-size: 2.4rem;
    color: #323232;
    text-align: center;
    line-height: 75px;
    text-transform: uppercase;
    width: 100%;
    height: 50%;
    background-color: #fff;
    border: none;
    border-top: 1px solid #323232;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.report-cancel:hover
{
    background-color: #edeeee;
}

.show_more_main {
margin: 15px 25px;
}
.show_more {
background-color: #f8f8f8;
background-image: -webkit-linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
background-image: linear-gradient(top,#fcfcfc 0,#f8f8f8 100%);
border: 1px solid;
border-color: #d3d3d3;
color: #333;
font-size: 12px;
outline: 0;
}
.show_more {
cursor: pointer;
display: block;
padding: 10px 0;
text-align: center;
font-weight:bold;
}
.loding {
background-color: #e9e9e9;
border: 1px solid;
border-color: #c6c6c6;
color: #333;
font-size: 12px;
display: block;
text-align: center;
padding: 10px 0;
outline: 0;
font-weight:bold;
}
.loding_txt {
border: 0;
display: inline-block;
height: 16px;
padding-left: 20px;
}




.post-detail
{
    display: none;
    background-color: white;
    width: 80%;
    height: 500px;
    position: fixed;
    top: 100px;
    left: 100px;
    z-index: 9999999;
}

.post-detail .picture
{
    height: 500px;
    width: 500px;
    background-size: cover;
    background-position: center;
}

/* SEARCH */
.input-search
{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    display: inline-block;
    height: 30px;
    margin-top: 10px;
    border: none;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    outline: none !important;
    z-index: 999999999999;
}

.input-search:focus
{
    border: 1px solid #fff;
}

::-webkit-input-placeholder
{
    color: #9d9d9d;
}

.input-search:focus::-webkit-input-placeholder
{
    color: #fff;
}

.wrap-suggestions
{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.wrap-cancel
{
    position: relative;
    width: 50%;
    height: auto;
    border-radius: 5px;
    z-index: 999;
}

.suggestions
{
    width: 100%;
    height: 100%;
    max-height: 300px;
    overflow: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 66px 3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 66px 3px rgba(0,0,0,1);
    box-shadow: 0px 0px 66px 3px rgba(0,0,0,1);
}

.suggestions p
{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.suggestions p:nth-of-type(2)
{
    padding-top: 20px;
}

.suggestions ul
{
    width: 100%;
    padding: 0;
    margin: 0;
}

.suggestions li
{
    width: 100%;
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

.container-block
{
    border-bottom: 1px solid #dbd8d8;
    width: 100%;
    padding-left: 10px;
}

.container-block:hover
{
    background-color: #dbd8d8;
}

.container-block:nth-of-type(1)
{
    border-top: 1px solid #dbd8d8;
}

.container-block2
{
    border-bottom: 1px solid #dbd8d8;
    width: 100%;
    padding-left: 10px;
}

.container-block2:hover
{
    background-color: #dbd8d8;
}

.container-block2:nth-of-type(2)
{
    border-top: 1px solid #dbd8d8;
}

.wrap-item
{
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.wrap-item2
{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-pic
{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.utext
{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #323232;
}

.utext-left
{
    width: 50%;
    display: flex;
    align-items: center;
}

.utext-right
{
    width: 50%;
    border-left: 2px solid #323232;
    padding-left: 20px;
}

.utext-width
{
    width: 25%;
}

.tagtext
{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #323232;
}

a:link 
{
    text-decoration: none !important;
    
}

.blur-all 
{
    opacity: 0.6;
    -webkit-transition: all 0.2s ease-in-out;
}

.cancel
{
    position: absolute;
    z-index: 99999999999;
    top: 0;
    right: 0;
    margin-top: 30px;
    margin-right: 5%;
    opacity: 0.6;
    cursor: pointer;
    z-index: 99999999999999;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.cancel:hover
{
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.cancel img
{
    width: 20px;
    height: 20px;
}

.wrap-limit
{
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    margin-top: -25px;
    width: 100%;
    height: 50px;
}

.feedback-limit
{
    width: 100%;
    height: 100%;
    background-color: #ff7f7f;
    border-top: 1px solid #7f0000;
    border-bottom: 1px solid #7f0000;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}