@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background-color: #ECEFF1 !important;
}

.home {
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}


/* TODO: WIJZIGEN NAAR AFBEELDING*/

.logo {
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}


/* END TODO */


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(52, 146, 247, 1);
    background: -moz-linear-gradient(-45deg, rgba(52, 146, 247, 1) 0%, rgba(217, 230, 39, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(52, 146, 247, 1)), color-stop(100%, rgba(217, 230, 39, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(52, 146, 247, 1) 0%, rgba(217, 230, 39, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(52, 146, 247, 1) 0%, rgba(217, 230, 39, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(52, 146, 247, 1) 0%, rgba(217, 230, 39, 1) 100%);
    background: linear-gradient(135deg, rgba(52, 146, 247, 1) 0%, rgba(217, 230, 39, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3492f7', endColorstr='#d9e627', GradientType=1);
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

.login {
    width: 35vw;
    height: 100vh;
    padding: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 99999;
    top: 0;
    right: 0;
    /*background-color: white;*/
}

.login label {
    font-size: 1.0rem;
    color: white;
    margin-bottom: 10px;
    opacity: 0.6;
}

.login .grid .col {
    text-align: center;
    width: 50%;
}

.login .grid .col a {
    color: white;
    width: 100%;
}

.login form {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.textfield {
    display: block;
    box-shadow: none;
    background: none;
    border: none;
    border-bottom: 5px solid white;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-bottom: 30px;
    font-size: 1.1rem;
    color: white;
}

::-webkit-input-placeholder {
    color: white;
    opacity: 0.8;
}

.button {
    padding: 15px;
    text-align: center;
    background-color: transparent;
    box-shadow: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    border-radius: 50px;
    text-transform: uppercase;
    min-width: 150px;
    box-sizing: border-box;
}

.button:hover {
    background-color: white;
    color: gray;
}

.grid {
    display: flex;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #37474F;
    z-index: 999999;
    -webkit-box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
}

.logo {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e6275a;
}

.upload-container {
    background-color: #E91E63;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
}

.upload-container h1 {
    color: white;
}

.image-background {
    height: 110%;
    width: 110%;
    -webkit-filter: blur(20px);
    position: absolute;
    top: -5%;
    left: -5%;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-container {
    padding-top: 100px;
    box-sizing: border-box;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.image {
    max-width: 50%;
    max-height: 90%;
    display: block;
    margin: 0 auto;
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
}

#form-upload {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.image-description-field {
    width: 100%;
    resize: none;
    height: 100px;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin-bottom: 20px;
    background-color: rgba(36, 36, 36, 0.2);
    color: #ffffff;
    border-bottom: 3px solid rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

.image-description-field:focus {
    background-color: rgba(36, 36, 36, 0.5);
    border-bottom: 5px solid white;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.button {
    width: 100%;
}

.container-fluid {
    padding: 0 !important;
}

input {
    display: block;
}

.upload-form {
    position: relative;
    z-index: 9999999;
    text-align: center;
}

.add-image-info {
    position: relative;
    height: 40vh;
    padding-top: 50px;
    width: 100%;
    box-sizing: border-box;
    bottom: 30px;
    left: 0;
    z-index: 99999;
    align-items: center;
    display: flex;
}

.add-image-info .button-group {
    width: 100%;
    display: flex;
}

.add-image-info .button-group .button {
    margin: 1%;
}

.add-image-info .content {
    width: 50%;
}

.overlay
{
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(52,146,247,1);
	background: -moz-linear-gradient(-45deg, rgba(52,146,247,1) 0%, rgba(217,230,39,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(52,146,247,1)), color-stop(100%, rgba(217,230,39,1)));
	background: -webkit-linear-gradient(-45deg, rgba(52,146,247,1) 0%, rgba(217,230,39,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(52,146,247,1) 0%, rgba(217,230,39,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(52,146,247,1) 0%, rgba(217,230,39,1) 100%);
	background: linear-gradient(135deg, rgba(52,146,247,1) 0%, rgba(217,230,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3492f7', endColorstr='#d9e627', GradientType=1 );
	opacity: 0.5;
	height: 100%;
	width: 100%;
}

.login
{
	width: 35vw;
	height: 100vh;
	padding: 50px;
	position: absolute;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	z-index: 99999;
	top: 0;
	right: 0;
	/*background-color: white;*/
}

.login label
{
	font-size: 1.0rem;
	color: white;
	margin-bottom: 10px;
	opacity: 0.6;
}


.login .grid .col
{
	text-align: center;
	width: 50%;
}

.login .grid .col a
{
	color: white;
	width: 100%;
}

.login form
{
	width: 80%;
	display: block;
	margin: 0 auto;
}

.textfield
{
	display: block;
	box-shadow: none;
	background: none ;
	border: none;
	border-bottom: 2px solid white;
	width: 100%;
	box-sizing: border-box;
	padding: 15px 20px;
	margin-bottom: 30px;
	font-size: 1.1rem;
	color: white;
    outline: none;
}

::-webkit-input-placeholder 
{
   color: white;
   opacity: 0.8;
}

.button
{
	padding: 15px;
	text-align: center;
	background-color: transparent;
	box-shadow: none;
	font-family: "Open Sans", sans-serif;
	font-size: 1.4rem;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 40px;
	text-transform: uppercase;
	min-width: 200px;
}

.button:hover
{
	background-color: #fff;
	color: #323232;
}

.button:focus
{
	outline: none;
}

.content {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.image-container .wrapper {
    text-align: center;
}

input[type=file] {
    display: inline-block !important;
    margin-top: 20px;
}

.wrapper {
    width: 80% !important;
    margin: 0 auto !important;
    display: block;
}

.feedback {
    position: fixed;
    z-index: 999;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #DFF2BF;
    border-bottom: 2px solid #a4bf76;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-animation: showFeedback 0.3s linear forwards, hideFeedback 0.3s 2s linear forwards;
}

@-webkit-keyframes showFeedback {
    0% {
        -webkit-transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes hideFeedback {
    100% {
        -webkit-transform: translateY(-100px);
        opacity: 0;
    }
}

.profile-header {
    height: 60vh;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    padding-top: 70px;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    -webkit-box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 58px -1px rgba(0, 0, 0, 0.55);
}


.profile-header .wrapper {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
    flex-wrap: wrap;
}

.profile-header h1 {
    color: white;
    font-size: 2.8rem;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.profile-header h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 5px;
    font-family: "Open Sans", sans-serif;
}

.profile-header .overlay {
    opacity: 1;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.9)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.profile-picture {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: red;
    margin-right: 30px;
    background-image: url("../images/avatar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-information {
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 999;
    color: white;
    display: flex;
}

.profile-information-item {
    width: 120px;
    font-size: 1.0rem;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.profile-information-item:hover {
    padding-bottom: 10px;
    border-bottom: 5px solid #E91E63;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.profile-information-item .amount {
    font-size: 2.2rem;
    display: block;
    font-weight: 400;
    color: white;
}

.profile-grid {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
}

.profile-grid-image {
    height: 300px;
    width: 100%;
    background-image: url("../public/uploads/2016-04-04T17:30:00+02:00.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-grid-image-container {
    padding: 20px;
    box-sizing: border-box;
}

.error
{
    font-family: "Open Sans", sans-serif;
	font-size: 1.2rem;
	color: darkred;
    margin-bottom: 30px;
}
    
.wrap-photo
{
    background-color: black;
    width: 550px;
    height: 650px;
}